server:
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true
    include-stacktrace: always
###
spring:
  datasource:
    #    url: jdbc:postgresql://localhost:5432/postgres
    url: jdbc:h2:mem:default
    username: postgres
    password: af15be37-f9dd-4418-b219-19559fc31bff
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
###
security:
  firebase:
    admin-credentials-file-path: credentials/firebase-admin-credentials.json
    web-credentials-file-path: credentials/firebase-web-credentials.json
  anonymous-paths:
    - "/actuator/**"
    - "/image/public/**"
  use-x-auth-token: true
  disable-post-auth-redirect: true
###
images:
  clean-on-destroy: true
